.button-group {
  .button-group {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    /* Tamanho da fonte menor */
    line-height: 1;
    display: flex;
    gap: 0.5rem;
    /* Espaçamento entre os botões */
  }
}
