<app-nav></app-nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- <ngx-spinner type="ball-scale-multiple" color="#3498db"></ngx-spinner> -->
<!-- <ngx-spinner type="square-loader" color="#e74c3c"></ngx-spinner> -->
<!-- <ngx-spinner type="line-spin-clockwise-fade-rotating" color="#2ecc71"></ngx-spinner> -->
<!-- <ngx-spinner type="timer" color="#9b59b6"></ngx-spinner> -->
<!-- <ngx-spinner type="pacman" color="#f1c40f"></ngx-spinner> -->
<ngx-spinner
type="ball-atom"
color="#1abc9c">
<p style="font-size: 20px; color: white;">Carregando...</p>
</ngx-spinner>
<!-- <ngx-spinner type="cube-transition" color="#e67e22"></ngx-spinner> -->
<!-- <ngx-spinner type="ball-clip-rotate-multiple" color="#34495e"></ngx-spinner> -->

<!-- <div>
  <button (click)="showSpinner()">Mostrar Spinner</button>
  <button (click)="hideSpinner()">Esconder Spinner</button>

  <div *ngIf="loading" class="custom-spinner" bdColor="rgba(0, 0, 0, 0.8)" color="#34495e">
    <p>Carregando...</p>
    <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div> -->
